<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="http" port="8085">
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
  <appSettings>
    <add key="atp.server" value="10.50.3.71"/>
    <add key="atp.port" value="1600"/>
    <add key="atp.consoleTxnDisplay" value="off"/>
    <add key="FSOAP.WebReference.IncomingQueue" value="http://192.168.211.83/RBS/WebServices/incoming/IncomingQueue.asmx"/>
  </appSettings>
</configuration>
